.backButton {
  background-color: rgba(17, 91, 182, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: filter 0.2s;
  margin: 20px;

  &:hover {
    filter: brightness(0.8);
  }
}

.formManagePartner {
  display: flex;
  flex-direction: column;

  .formDiv {
    display: flex;
    flex-direction: column;

    input {
      height: 30px;
      padding: 4px;
      outline: none;
      border: 1px solid black;
      border-radius: 4px;

      &:not([type='file']) {
        border-radius: 4px;
      }
    }
  }

  .divCheckbox {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  button {
    background-color: #bb9b60;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    transition: filter 0.2s;
    width: 300px;
    height: 41px;
    font-size: 14px;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
