.main {
  padding-top: 30px;
  // background-image: url('/images/bg.png');
  background-repeat: repeat;
  min-height: 600px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;

    h2 {
      font-weight: bold;
      font-size: 60px;
      color: #115bb6;
      text-align: center;
      margin-bottom: 128px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      margin-top: 12px;

      a {
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
