.formInstagram {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    margin-bottom: 10px;
  }

  input {
    max-width: 300px;
    outline: none;
    padding: 5px;
  }

  button {
    background-color: #bb9b60;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    transition: filter 0.2s;
    width: 300px;
    height: 41px;
    font-size: 14px;

    &:hover {
      filter: brightness(0.8);
    }
  }
}
