* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}
