@use '../../styles/colors' as vars;
@use '../../styles/partials' as partials;

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 102px;

  .content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    @include partials.flex-center;
    .content_menu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 50px;
      svg {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }

      .logo {
        max-height: 102px;
      }

      a {
        color: vars.$blue;
        font-weight: bold;
      }
    }

    button {
      @include partials.button;
      width: 130px;
      height: 41px;
      font-size: 14px;
    }
  }
}

.menu_suspended {
  width: 100%;
  height: 100%;
  z-index: 999999;
  position: fixed;
  top: 0;
  display: flex;

  .menu_suspended_content {
    width: 23%;
    max-width: 436px;
    height: 100%;
    background-image: url('/images/bg-menu.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 92px;
    z-index: 999999;

    button {
      @include partials.blue-button;
      background-color: rgba($color: vars.$blue, $alpha: 0.8);
      max-width: 300px;
      height: 42px;
      font-size: 18px;
    }

    .button_join {
      display: none;
    }

    a {
      display: none;
    }
  }

  .menu_curtain {
    background-color: rgba($color: #0b0a0a, $alpha: 0.74);
    width: 100%;
    height: 100%;
    z-index: 999999;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 60px;
    .content {
      padding: 0px 30px;

      button {
        display: none;
      }
      .content_menu {
        justify-content: space-between;
        a {
          display: none;
        }
      }
    }
  }

  .menu_suspended {
    .menu_suspended_content {
      width: 50%;
      padding: 10px 5px 10px;
      button {
        font-size: 16px;
      }

      .button_join {
        @include partials.button;
        width: 100%;
        max-width: 300px;
        height: 41px;
        font-size: 14px;
      }

      a {
        display: block;
      }
    }

    .menu_curtain {
      width: 50%;
    }
  }
}
