.main {
  padding-top: 30px;
  // background-image: url('/images/bg.png');
  background-repeat: repeat;
  min-height: 900px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: bold;
      font-size: 60px;
      color: #115bb6;
      text-align: center;
      margin-bottom: 128px;
      font-family: 'Afacad Flux', 'Inter';
    }
  }

  @media screen and (max-width: 640px) {
    min-height: auto;
  }
}
