.main {
  padding-top: 30px;
  // background-image: url('/images/bg.png');
  background-repeat: repeat;
  min-height: 900px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header_content {
      margin-bottom: 128px;
      h2 {
        font-weight: bold;
        font-size: 60px;
        color: #115bb6;
        text-align: center;
        margin-bottom: 40px;
        font-family: 'Afacad Flux', 'Inter';
      }
      img {
        aspect-ratio: 1/1;
        max-width: 900px;
        max-height: 900px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    min-height: auto;

    .container {
      .header_content {
        img {
          max-width: 100%;
        }
      }
    }
  }
}
