.formElement {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;

    label {
        display: flex;
        flex-direction: column;
    }

    .buttonAction {
        background-color: #bb9b60;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        transition: filter 0.2s;
        width: 300px;
        height: 41px;
        font-size: 14px;
    
        &:hover {
          filter: brightness(0.8);
        }
    }
}